{%- assign social = site.minima.social_links -%}

<footer class="site-footer">

	<h2 class="footer-heading">{{ site.title | escape }}</h2>

	<ul class="contact-list">
		
		{%- if site.email -%}
		<li>
			<a href="mailto:{{ site.email }}">
				<i class="icon-font">&#xf199;</i>Email
			</a>
		</li>
		{%- endif -%}
		
		{%- if social.github -%}
		<li>
			<a href="https://github.com/{{ social.github | cgi_escape | escape }}">
				<i class="icon-font">&#xf09b;</i>GitHub
			</a>
		</li>
		{%- endif -%}

		{%- if social.twitter -%}
		<li>
			<a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}">
				<i class="icon-font">&#xf304;</i>Twitter
			</a>
		</li>
		{%- endif -%}

		{%- if social.rss -%}
		<li>
			<a href="{{ 'feed.xml' | relative_url }}">
				<i class="icon-font">&#xf143;</i>Rss
			</a>
		</li>
		{%- endif -%}
		

	</ul>

</footer>
