---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div id="adFit">
    <div class="inner">
      <ins class="kakao_ad_area" style="display:none;" 
       data-ad-unit    = "DAN-u7wtu00zc6zm" 
       data-ad-width   = "300" 
       data-ad-height  = "250"></ins> 
      <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
     </div>
  </div>
  
  {%- include disqus_comments.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
