---
layout: page
---

<ul class="tag-cloud">
	{% for tag in site.tags %}

		{% capture tag_name %}{{tag|first|slugize}}{% endcapture %}
		{% capture tag_size %}{{tag|last|size}}{% endcapture %}

		<li>
			<a href="#{{tag_name}}" onclick="showTag('#{{tag_name}}')">
				{{tag_name}} ({{tag_size}})
			</a>
		</li>

	{% endfor %}
</ul>

<div id="archives">
	{% for tag in site.tags %}

	{% capture tag_name %}{{tag|first|slugize}}{% endcapture %}

	<div class="archive-group" style="display:none" id="{{tag_name}}">

		<h2 id="{{tag_name}}">{{ tag_name }}</h2>

		{% for post in site.tags[tag_name] %}
		<article class="archive-item">
			<h3>
				<a href="{{ root_url }}{{ post.url }}">
					{{post.title}}
				</a>
			</h3>
		</article>
		{% endfor %}

	</div>
	{% endfor %}
</div>

<script>
	window.addEventListener("load", function(event) {
		var url = window.location.href;
		var req = /#([^\s]+)$/.exec(url);
		var selector;

		if(!Array.isArray(req)) {
			return false;
		}

		selector = '#' + req.pop();

		showTag(selector);
	});

	function showTag(selector) {
		var archiveGroup = document.querySelectorAll(".archive-group");
		var selected = document.querySelector(selector);

		for (var i = 0; i < archiveGroup.length; i++) {
			archiveGroup[i].style.display = "none";
		}

		selected.style.display = "block";
	}
</script>